.app {
    color: black;
    background: #eee;
    margin: auto;
    width: 20%;
    padding: 20px;
    text-align: center;
}

.todoList {
    color: black;
    margin: auto;
    padding: 5px 15px 15px 15px;
    text-align: left;
    width: 80%;
    position: static;
    list-style-type: none;
}

.todoInput {
    margin: 10px;
    width: 100%;
}

.todoItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #fff;
}

.completed {
    padding: 10px;
    background: green;
    text-decoration: line-through;
    color: #fff
}

.notCompleted {
    padding: 10px;
    background: #ccc;
}